@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* <uniquifier>: Use a unique and descriptive class name*/
/* <weight>: Use a value from 100 to 900*/

.heading .roboto-slab {
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
}

body {
    margin: auto;
}

h1 {
    font-family: 'Roboto Slab';
    color: #ad3a39;
    text-transform: uppercase;
    font-size: 33px;
}

h2 {
    font-family: 'Roboto Slab';
    color: #ad3a39;
    font-size: 25px;
}

nav-section {
    display: block;
    height: 500px;
    background: #314b58;
}

container {
    margin: auto;
    display: grid;
    max-width: 1420px;
    padding: 0 5%;
}

.container-nav {
    width: 70%;
} 

.container-map {
    width: 100%;
} 

.container-nav-links {
    width: 100%;
    display: flex;
    padding-left: 20px;
}



nav-section p {
    color: #fff;
    font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
}

.container-nav-links :hover {
    color: #ad3a39;
}

.container-nav-links a {
    text-decoration: none;
}

.site-logo {
    color: #fff;
    font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    padding-top: 10px;
    padding-left: 50px;
    text-align: center;
    position: relative;
    width: 100%;
}

.heating {
    display: grid;
    justify-items: center;
    margin: 10px;
}

.nav-img-width {
    width: 50px;
}

.nav-img-width:hover {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
}

.cooling {
    display: grid;
    justify-items: center;
    margin: 10px;
}

.specials {
    display: grid;
    justify-items: center;
    margin: 10px;
}

.plumber {
    display: grid;
    justify-items: center;
    margin: 10px;
}

.map {
    width: 440px;
    height: 300px;
}

.service-content a {
    color:#ad3a39;
    text-decoration: none;
}

.service-content {
    display: block;
    align-content: center;
    justify-content: center;

}

.service-text {
    align-content: center;
}

.service-content > * {
    padding: 0em
}

.service-content p {
    width: 100%;
    padding-left: 2%;
    font-family: Helvetica, Arial;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.2em;
}

.articles-area p {
    width: 100%;
    padding-left: 2%;
    font-family: Helvetica, Arial;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.2em;
}

.articles-area a {
    color: #ad3a39;
}

.text-height {
    display: block;
    height: 120px;
}

.article-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.article-section > * {
    width: 100%;
    padding-right: 0rem;
}

.article-content
{
    width: 100%;
}

.article-img {
    width: 100%;
    height: auto;
}

.article-img:hover {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
}


.pt {
    padding-top: 20px;   
}

.mb {
    margin-bottom: 100px;
}

@media (min-width:768px) {
    nav-section {
        height: 300px;
    }

    container {
        display: flex;
    }

    .nav-img-width {
        width: 100%;
    }

    .container-map {
        width: 30%;
    }

    .site-logo {
        font-size: 30px;
        text-align: left;
        padding-left: 0;
    }

    .container-nav-links {
        padding-left: 0;
    }

    nav-section p {
        font-size: 16px;
    }

    .map {
        width: 440px;
        height: 300px;
    }

    .service-content {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    .article-section > * {
        width:calc(100% / 3);
    }
    .article-content {
    width: 32%;
    }

    .text-height {
        display: block;
        height: 80px;
    }
}

@media (max-width:1920px) {
    .map {
        width: 440px;
    }
}

@media (max-width:1024px) {
    .article-content {
    width: 100%;
    }
}